Description=Webapp
After=network.target cloud-final.service

[Service]
Type=Simple
ExecStart=/usr/bin/npm run start
WorkingDirectory=/home/admin/webapp
Environment=PORT=3000
Environment=CSV_PATH="/home/admin/webapp/users.csv"
Restart=always
RestartSec=3
User=admin

[Install]
WantedBy=cloud-init.target