[Unit]
Description=Webapp
After=network.target cloud-final.service

[Service]
Type=Simple
ExecStart=/usr/bin/npm run start
WorkingDirectory=/home/ec2-user/webapp
Restart=always
RestartSec=3
User=ec2-user
Group=ec2-group

[Install]
WantedBy=cloud-init.target

