[Unit]
Description=Webapp
After=network.target cloud-final.service

[Service]
Type=Simple
ExecStart=/usr/bin/npm run start
WorkingDirectory=/home/admin/webapp
Restart=always
RestartSec=3
User=admin

[Install]
WantedBy=cloud-init.target

